@import "src/assets/css/variables";

section.search-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .ant-input-affix-wrapper {
        border-radius: 100px 0 0 100px !important;
        background: none;
        border-color: #757577;
        color: white;
    }

    .ant-input-affix-wrapper:hover {
        border-color: white !important;
    }

    .ant-input {
        background: none;
        color: white;
    }

    .ant-input::placeholder {
        color: #757577;
    }

    .ant-input-suffix .ant-input-clear-icon {
        color: white;
    }

    .ant-btn {
        border-radius: 0 100px 100px 0 !important;
        background-color: white;
        color: #202020;
    }

    .ant-btn:hover {
        background: #c9c9c9 !important;
        color: #202020;
        border: 1px solid #c9c9c9 !important;
    }
}

.display-results {
    display: flex;
    flex-wrap: wrap;
}