@import 'variables';

body {
    background-color: $dark-bg;
    color: white;
    margin: 0px;
    font-family: $open-sans !important;
}

.container {
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 70vw;
    margin: auto;
    padding: 30px 50px;
}